<% include ../includes/header %>

<div class="osu-layout__section osu-layout__section--full js-content community_tournaments-index">
    <div class="osu-layout__row osu-layout__row--page wiki-header">
        <div class="text">
            <h1><%- user.username %></h1>
        </div>
    </div>
    <div class="osu-layout__row osu-layout__row--sm1">
        <% for (let type in messages) { %>
            <div class="alert alert-<%- type %>">
                <%- messages[type] %>
            </div>
        <% } %>
		<div id="forum-1" class="forum-category col-sm-12 forum-colour category-osu">
			<div class="row forum-category-header forum-colour__bg--category-osu">
				<div class="forum-category-header__name">Team Information</div>
				<div class="forum-category-header__description">Who you're competing with.</div>
			</div>
			<div class="forums osu-layout__sub-row">
                <% if (user.team) { %>
                    You're on team <b><%- user.team.teamname %></b>!
                <% } else { %>
                    You're not a member of any team!
                <% } %>
            </div>
        </div>
		<div id="forum-1" class="forum-category col-sm-12 forum-colour category-beatmaps">
			<div class="row forum-category-header forum-colour__bg--category-beatmaps">
				<div class="forum-category-header__name">User Information</div>
				<div class="forum-category-header__description">Your personal account settings.</div>
			</div>
			<div class="forums osu-layout__sub-row">
                <h4>Account Status</h4>
                <ul>
                    <li><i class="fa fa-check" style="color: green;"></i> Your email has been verified!</li>
                    <li>
                        <% if (user.osuVerified) { %>
                            <i class="fa fa-check" style="color: green;"></i> Your osu! account has been verified!
                        <% } else { %>
                            <i class="fa fa-exclamation-triangle" style="color: red;"></i> Your osu! account has not been verified! <a href="javascript:void(0);">Send me a confirmation link!</a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../includes/footer %>