<% include ../includes/header %>

<script type="text/javascript" src="//www.google.com/recaptcha/api.js"></script>

<div class="osu-layout__section osu-layout__section--full js-content community_tournaments-index">
    <div class="osu-layout__row osu-layout__row--page wiki-header">
        <div class="text">
            <h1>what is my timezone?</h1>
        </div>
    </div>
    <div class="osu-layout__row osu-layout__row--page-compact osu-layout__row--sm1">
        <div class="osu-layout__sub-row">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <center>
                        looks like you're in
                        <h1>UTC<span id="timezone"></span></h1>
                        <p>
                            let your team captain know!
                        </p>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var date = new Date();
        var minutes = date.getTimezoneOffset();
        var hours = Math.abs(minutes / 60);
        if (minutes == 0) return;
        var timezoneString = (minutes < 0) ? "+" : "-";
        timezoneString += hours;
        $("#timezone").text(timezoneString);
    });
</script>

<% include ../includes/footer %>